@font-face {
    font-family: streetFont;
    src: url("street_font.otf");
}
.express {
	text-align: center;
	margin: 30px;
        
}
body {
	background: url("../images/graffiti-backgrounds.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
img {
	background-color: white;
	height: 150px;
	width: 150px;
}
.giphyDiv {
	float: left;
	margin: 3px;
}
.btn {
	padding: 25px;
	margin: 5px;
	color: black;
}
#btnSelect {

}
.container {
	padding: 20px;
	margin: 30px;

}
#grafFont {
	font-family: streetFont;
	font-size: 125px;
	color: white;

}

.giphyBody {
	
	margin: 30px;
        
}
.input-group {
	padding: 20px;
	margin: 30px;
}
h2 {
	font-size: 250px;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black !important;
}
input::-moz-placeholder { /* Firefox 19+ */
  color: black !important;
}
input:-ms-input-placeholder { /* IE 10+ */
  color: black !important;
}
input:-moz-placeholder { /* Firefox 18- */
  color: black !important;
}

